@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Your Daily Dose Of Jokes</h1>
    <p>Visit this page to start your day happier and healthier</p>
</div>
